dnspython
flasgger
flask
flask-apscheduler
flask-caching
flask-healthz
flask-pymongo
haversine
lightgbm
matplotlib
numpy
pandas
pygithub
pymongo==3.12.3
requests
scikit-learn
scipy
seaborn
starlette
statsmodels
tpot
tsfresh
urllib3
uwsgi
xgboost
