dnspython
flasgger
flask
flask-apscheduler
flask-caching
flask-cors
flask-healthz
flask-pymongo
gunicorn
haversine
lightgbm
matplotlib
numpy
pandas
pygithub
pymongo==3.12.3
requests
scikit-learn
scipy
seaborn
starlette
statsmodels
urllib3
xgboost
