apscheduler
flasgger
flask
flask-api
flask-caching
flask-pymongo
haversine
joblib
lightgbm
matplotlib
numpy
pandas
pygithub
pymongo[srv]
pytz
requests
scikit-learn
scipy
seaborn
statsmodels
timezonefinder
torch
tpot
tsfresh
uwsgi
xgboost
