apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: mongo
  name: mongo
  namespace: aqra
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: mongo
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.network/aqra-network: "true"
        io.kompose.service: mongo
    spec:
      automountServiceAccountToken: false
      containers:
        - envFrom:
            - configMapRef:
                name: mongo-config
            - secretRef:
                name: mongo-secret
          image: aqra-mongo
          imagePullPolicy: Never
          livenessProbe:
            exec:
              command:
                - mongosh
                - --eval
                - db.adminCommand("ping")
            failureThreshold: 1
            initialDelaySeconds: 60
            periodSeconds: 300
            timeoutSeconds: 60
          name: mongo
          ports:
            - containerPort: 27017
          resources: { }
          volumeMounts:
            - mountPath: /data/db
              name: mongo-data
      securityContext:
        runAsNonRoot: true
        runAsUser: 1002
        runAsGroup: 1002
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-data-pvc